<footer>
  <div class="inner">
    <div class="copyright">
      <span>Contact at natefredrickbooking@gmail.com</span>
    </div>
    
    <div class="social">
      <ul class="icons">
        <li class="col-4">
          <a href="https://www.facebook.com/Natefredrickmusic" target="_blank" class="zocial-facebook"></a>
        </li>
        <li class="col-4">
          <a href="https://instagram.com/natefredmusic/" target="_blank" class="zocial-instagram"></a>
        </li>
        <li class="col-4">
          <a href="https://twitter.com/NateFredmusic" target="_blank" class="zocial-twitter"></a>
        </li>
        <li class="col-4">
          <a href="https://www.youtube.com/results?search_query=nate+fredrick" target="_blank" class="zocial-youtube"></a>
        </li>
      </ul>
    </div>
    
  </div>
</footer>