<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Nate Fredrick</h1>        
            <h3>Check out the new EP!</h3>
        </hgroup>
        <a href="/products" class="btn btn-hero btn-lg" role="button">Buy the album</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Nate Fredrick</h1>        
            <h3>Be part of the journey!</h3>
        </hgroup>       
        <a href="/products" button class="btn btn-hero btn-lg" role="button">Merchandise</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Leaving Side of me</h1>        
            <h3>Check out the full album</h3>
        </hgroup>
        <a href="/products" button class="btn btn-hero btn-lg" role="button">Shop</button></a>
      </div>
    </div>
  </div> 
</div>
<div class="row" >
    <h1 class="text-center">Tour Dates </h1>
  </div>
<a href="http://www.songkick.com/artists/8587154" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="#000000"> Tour Dates</a>
<script src="//widget.songkick.com/widget.js"></script>
<div class="row">
    <h1 class="text-center">Instagram</h1>
  </div>
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?u=bmF0ZWZyZWRtdXNpY3xpbnwyNTB8M3wyfDFjMWExY3x5ZXN8NXxmYWRlSW58b25TdGFydHx5ZXN8eWVz&ve=060915" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

<div class="container">
  <div class="row">
    <h1 class="text-center">Reviews</h1>
  </div>
</div>
<div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
            
                <div class="carousel-inner">
                    <div class="item active">
                      <div class="col-md-4 col-sm-6">
                    <div class="block-text rel zmin">
                    <a title="Sound of Music" href="http://www.417mag.com/417-Magazine/June-2015/Sound-of-Music/">417 Mag</a>
      
                    <p>We first heard Nate perform at Metropolitan Farmer and were hooked. Nate’s vocals rival Dave Matthews’s, and his guitar work is just fun to watch. Now Nate and his guitar have joined forces with a full band to record a first album. You can listen to Nate’s music at natefredrick.com.</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                  </div>
              <div class="person-text rel">
                        <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/a7cc1d62-7fb8-42ee-ae0b-4d8b7da84cf8.png"/>
                <a title="Sound of music" href="http://www.417mag.com/417-Magazine/June-2015/Sound-of-Music/">Ettie Berneking</a>
                <i>from Springfield, MO</i>
              </div>
            </div>
                  <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                    <a title="" href="http://www.news-leader.com/story/life/2015/01/22/nate-fredrick-breaking-rules-building-music/22177591/">Breaking rules, building music</a>
                 
                    <p>In a more melancholy mood, "Bon Voyage" and "Make Me Smile" say farewell, in different ways, to loving relationships. "Wild Ride" sends a cautionary message about the pitfalls of love.

These songs are easily found on YouTube and, sometime in the near future, he hopes to complete the definitive debut album.

"You only get one first album," he said. "Once I get this behind me, I know for a fact that it will be nothing but upward — not necessarily from a music standpoint but from a mental standpoint."  </p>
                      <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                    </div>
              <div class="person-text rel">
                        <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/71a59bfa-43ba-492b-bffc-8c8b979a6a5c.jpg"/>
                    <a title="" href="http://www.news-leader.com/story/life/2015/01/22/nate-fredrick-breaking-rules-building-music/22177591/">Ed Peaco</a>
                <i>Springfield, MO</i>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="listening cafe" href="http://events.tennessean.com/event/detail/441925745">Nate Fredrick and Friends</a>
               
                  <p>Nate Fredrick, a native of Springfield Missouri now residing in Nashville, TN brings his own unique elements to alternative singer songwriter genre. With raspy vocals  and intricate guitar melodies reminiscent of Dave Mathews meets Otis Redding. It is no surprise Nate has shared the stage as support for acts such as Pat Benatar and REO Speedwagon . Nate's unique musical style is in a category all of it's own.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel">
                <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/2d91c51d-0c37-4ce6-9c37-cabffd5e6d6f.jpeg"/>
                <a title="" href="http://events.tennessean.com/event/detail/441925745">Now Playing Nashville</a>
                <i>Nashville, TN</i>
              </div>
            </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
                    <div class="block-text rel zmin">
                                        <a title="Sound of Music" href="http://www.417mag.com/417-Magazine/June-2015/Sound-of-Music/">417 Mag</a>
      
                    <p>We first heard Nate perform at Metropolitan Farmer and were hooked. Nate’s vocals rival Dave Matthews’s, and his guitar work is just fun to watch. Now Nate and his guitar have joined forces with a full band to record a first album. You can listen to Nate’s music at natefredrick.com.</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                  </div>
              <div class="person-text rel">
                        <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/a7cc1d62-7fb8-42ee-ae0b-4d8b7da84cf8.png"/>
                <a title="Sound of music" href="http://www.417mag.com/417-Magazine/June-2015/Sound-of-Music/">Ettie Berneking</a>
                <i>from Springfield, MO</i>
              </div>
            </div>
                  <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                    <a title="" href="http://www.news-leader.com/story/life/2015/01/22/nate-fredrick-breaking-rules-building-music/22177591/">Breaking rules, building music</a>
                 
                    <p>In a more melancholy mood, "Bon Voyage" and "Make Me Smile" say farewell, in different ways, to loving relationships. "Wild Ride" sends a cautionary message about the pitfalls of love.

These songs are easily found on YouTube and, sometime in the near future, he hopes to complete the definitive debut album.

"You only get one first album," he said. "Once I get this behind me, I know for a fact that it will be nothing but upward — not necessarily from a music standpoint but from a mental standpoint."  </p>
                      <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                    </div>
              <div class="person-text rel">
                        <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/71a59bfa-43ba-492b-bffc-8c8b979a6a5c.jpg"/>
                    <a title="" href="http://www.news-leader.com/story/life/2015/01/22/nate-fredrick-breaking-rules-building-music/22177591/">Ed Peaco</a>
                <i>Springfield, MO</i>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="listening cafe" href="http://events.tennessean.com/event/detail/441925745">Nate Fredrick and Friends</a>
               
                  <p>Nate Fredrick, a native of Springfield Missouri now residing in Nashville, TN brings his own unique elements to alternative singer songwriter genre. With raspy vocals  and intricate guitar melodies reminiscent of Dave Mathews meets Otis Redding. It is no surprise Nate has shared the stage as support for acts such as Pat Benatar and REO Speedwagon . Nate's unique musical style is in a category all of it's own.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel">
                <img src="https://gallery.mailchimp.com/2d721f842e76500384b0e243f/images/2d91c51d-0c37-4ce6-9c37-cabffd5e6d6f.jpeg"/>
                <a title="" href="http://events.tennessean.com/event/detail/441925745">Now Playing Nashville</a>
                <i>Nashville, TN</i>
              </div>
            </div>
                    </div>
                    </div>
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
